
<div class="grid heroes-list">
    <div class="col-12 card ">
        <p-card> 
            <div class="flex" style="justify-content: space-between; align-items: center">
                <app-auto-complete [suggestions]="suggestions" (completeMethod)="predictiveSearch($event)" 
                (onSelect)="onPredictionSelect($event)"></app-auto-complete>
                <app-button [class]="'p-button-success'" [label]="'New'" [severity]="'info'" (click)="redirectToNew()"></app-button>
            </div>
        </p-card>
    </div>
    <div class="col-12 flex justify-content-start" style="flex-wrap: wrap">
        <div class="lg:col-4" *ngFor="let hero of superHeroes">
            <app-card-hero [hero]="hero"></app-card-hero>
        </div>
    </div>
</div>