<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="grid">
        <div class="col-12 form-content">
            <div>
                <app-input [label]="'Name'" [type]="'text'" [control]="form.get('name')?.value | uppercase" [upperCase]="true"></app-input>
            </div>
            <div>
                <app-input [label]="'Full Name'" [type]="'text'" [control]="form.get('fullName')?.value"></app-input>
            </div>
            <div>
                <app-input [label]="'Height'" [type]="'text'" [control]="form.get('height')?.value"></app-input>
            </div>
            <div>
                <app-input [label]="'Weight'" [type]="'text'" [control]="form.get('weight')?.value"></app-input>
            </div>
            <div>
                <app-input-number [label]="'Power'" [inputId]="'withoutgrouping'" [control]="form.get('power')"></app-input-number>
            </div>
            <div>
                <app-input-number [label]="'Strength'" [inputId]="'withoutgrouping'" [control]="form.get('strength')"></app-input-number>
            </div>
            <div>
                <app-input-number [label]="'Speed'"  [inputId]="'withoutgrouping'" [control]="form.get('speed')"></app-input-number>
            </div>
            <div class="col-12 img-content">
                <app-file-upload (uploadFileEmitter)="uploadFileEmitter($event)" (fileUploadSubjectEmitter)="fileUploadSubjectEmitter($event)" (removeFileEmitter)="removeFileEmitter($event)"></app-file-upload>
                <img *ngIf="imageView" src="{{imageView}}" alt="Hero image"/>
            </div>
            <div class="col-12">
                <app-button [type]="'submit'" [class]="'p-button-success'" [label]=" isNewMode ? 'Save' : 'Edit'" [severity]="'success'"></app-button>
            </div>
        </div>
    </div>
</form>