:host {
  display: block;
}

.form-content {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

app-input,
app-input-number {
  margin: 0.5em;
}


