:host {
  display: block;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100vh;
  margin: 0; 
  padding: 0; 
  background-color: rgba(0, 0, 0, 0.582);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  z-index: 999;
}
